//-------------------------------------------------------
//- Modules :: Plugins
//-------------------------------------------------------

- var crossOrigin = 'anonymous';

mixin plugins()
  script(
    src='https://code.jquery.com/jquery-3.3.1.min.js'
  )
  script(
    src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'
    integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q'
    crossorigin= crossOrigin
  )
  script(
    src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin= crossOrigin
  )
  script(
    type='text/javascript'
    src='js/jquery.flipster.min.js'
  )
  script(
    type='text/javascript'
    src='js/owl.carousel.min.js'
  )
  script(
    type='text/javascript'
    src='js/isotope.pkgd.min.js'
  )
  script(
    type='text/javascript'
    src='js/quagga.min.js'
  )
  script(
    type='text/javascript'
    src='js/main.js'
  )
